Library/
Temp/ 
.vs/Yu_Gi_Oh/v15/.suo 
Packages/
Logs/ 
Packages/manifest.json
.vs/Yu_Gi_Oh/v15/.suo
Assembly-CSharp.csproj
Logs/Packages-Update.log
Packages/manifest.json
Assembly-CSharp.csproj
Assembly-CSharp.csproj
Assets/Editor.meta
Yu_Gi_Oh.sln
.vs/Yu_Gi_Oh/v15/Server/sqlite3/storage.ide-wal
.vs/Yu_Gi_Oh/v15/Server/sqlite3/storage.ide-shm
.vs/Yu_Gi_Oh/v15/Server/sqlite3/storage.ide-wal
Assembly-CSharp.csproj
Assets/Scripts/Event/Events.cs
obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
obj/
CSharp.csprojAssemblyReference.cache
Yu_Gi_Oh.sln
.vs/
obj/
Yu_Gi_Oh.sln
Assets/Temp.meta
Assembly-CSharp.csproj
Yu_Gi_Oh.sln
